*.iml
AndroidSource/.gradle
AndroidSource/local.properties
AndroidSource//.idea/workspace.xml
AndroidSource//.idea/libraries
AndroidSource/.DS_Store
AndroidSource//build
AndroidSource//captures
AndroidSource/.externalNativeBuild
